<footer style="background-color: #f8f9fa;  text-align: center; font-size: 14px; color: #6c757d;">
    <div class="footer">
      <p>&copy; 2025 Mahesh Raja. All rights reserved.</p>
      <p>
        <a href="mailto:mmaheshraja2002@gmail.com" style="color: #007bff; text-decoration: none;">mmaheshraja2002@gmail.com</a> |
        <a href="https://linkedin.com/in/maheshraja2002" target="_blank" style="color: #007bff; text-decoration: none;">LinkedIn</a> |
        <a href="https://github.com/maheshraja2oo2" target="_blank" style="color: #007bff; text-decoration: none;">GitHub</a>
      </p>
    </div>
  </footer>
  