<div class="contact-container">
    <h2>Contact Me</h2>
    <p>If you have any questions or opportunities you'd like to discuss, feel free to reach out to me!</p>
  
    <form class="contact-form"action="https://formspree.io/f/movdejzd" method="POST">
      <input type="text" name="name" placeholder="Your Name" required />
      <input type="email" name="email" placeholder="Your Email" required />
      <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
      <button type="submit">Send Message</button>
    </form>
  
  
  </div>
  